* {
    font-family: Verdana, sans-serif;
    /* color: aliceblue; */
}

body {
    width: 800px;
    margin: 0 auto;
    /* background-color:rgb(35, 3, 3); */
}

header {
    display: flex;
    flex-direction: column-reverse;
    height: 500px;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('assets/ezgif.com-abstract.webp');
    background-size: cover;
    color: aliceblue;
    padding: 30px;
    border-radius: 0 0 20px 20px; 
}

header > h1 {
    margin: 0;
}

header > h2 {
    margin: 0;
    font-weight: lighter;
}

main > section > p {
    max-width: 750px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body > main > section > h2 {
    text-transform: uppercase;
    margin: 10px auto;
}

body > main > section > div > h3 {
    margin: 10px auto;
}

span {
    font-weight: lighter;
    font-size: smaller;
    margin: auto 10px;
    float: right;
}


.nest {
    padding: 10px;
    border: 1px solid black;
}

ul {
    margin: 0;
    border: 1px solid black;

}

li {
    padding: 10px;
}

.nest:hover, .nested:hover {
    cursor: pointer;
}

.nest, .nested {
    margin: 0;
}

.nested {
    display: none;
}

.nesteded {
    display: none;
    margin: 0;
    cursor: text;
    padding: 10px 10px 10px 20px;
}


#ykgwarrow {
    margin: 10px;
    padding: 10px;
}

.box {
    height: 1000px;
}