* {
    font-family: Verdana, sans-serif;
    /* color: aliceblue; */
}

a {
    color: #cabda9;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url('assets/ezgif.com-abstract.webp');
    background-size: unset;
}

.main {
    width: 750px;
    margin: 0 auto;
    /* background-color: #031a21; */
    color:#cabda9;
}

header {
    display: flex;
    flex-direction: column-reverse;
    height: 550px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('assets/ezgif.com-abstract.webp');
    background-size: cover;
    padding: 30px;
    border-radius: 0 0 20px 20px; 
    color: #fcf6ea;
}

.image {
    display: inline-block;
    align-items: center;
    /* margin: 5em 0; */
    max-width: 100%;
    padding: 0;
    margin: 0;
    /* border: 1em solid #083640; */
    /* background-color: #083640; */
    border-radius: 1em;
    /* margin-top: 75px; */
    /* margin-bottom: 25px; */
}

/* .drop-shadow {
    filter: drop-shadow(4px 4px 10px #cabda9);
} */

.img1 {
    transform: rotate(-3deg);
    filter: brightness(60%);

}


.img2 {
    transform: skewX(2deg);
    filter: brightness(50%);
}

.img3 {
    transform: skewX(3deg);
    filter: brightness(50%);
}

.img4 {
    transform: rotate(3deg);
    filter: brightness(50%);
}


header > h1 {
    margin: 0;
}

header > h2 {
    margin: 0;
    font-weight: lighter;
}

main > section > p {
    max-width: 600px;
    margin: 60px auto;
    line-height: 2.0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: large;
}

.texts {
    max-width: 600px;
    margin: 30px auto 100px auto;
    font-size: large;
    line-height: 2.0;
}

.secthead {
    padding-top: 100px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto 75px auto;
    color: #fcf6ea;
    font-size: xx-large;
}

body > main > section > div > h3 {
    margin: 10px auto;
    text-align: center;
    color: #fcf6ea;
}

span {
    font-weight: lighter;
    font-size: smaller;
    margin: auto 10px;
    float: right;
}

b {
    color: #fcf6ea;
}


.nest {
    padding: 10px;
    /* border: 1px solid black; */
    color: #fcf6ea;
    font-size: x-large;
}

ul {
    margin: 0;
    border: 1px solid black;

}

/* li {
    padding: 10px;
}

.nest:hover, .nested:hover {
    cursor: pointer;
}

.nest, .nested {
    margin: 0;
}

.nested {
    display: none;
}

.nesteded {
    display: none;
    margin: 0;
    cursor: text;
    padding: 10px 10px 10px 20px;
}


#ykgwarrow {
    margin: 10px;
    padding: 10px;
} */

.box {
    height: 1000px;
}

.flex-container {
display: flex;
flex-wrap: nowrap;
align-items: center;
}

.flex-container > div {
    /* border: 1px solid black; */
    text-align: center;
    flex-basis: 100%;
}

.captions {
    font-size: x-small;
    padding-top: 0.5rem;
}

.icons {
    max-width: 50px;
    margin-bottom: 10px;

}
